.login {
  background-color: var(--color-dark--1);
  padding: 40px;
  height: calc(100vh - 40px);
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  background-color: var(--color-dark--2);
  border-radius: 6px;
  margin: 100px auto;
}
.form div {
  margin-bottom: 15px;
}
.form button {
  width: fit-content;
  padding: 10px 20px;
}
